.container {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid dodgerblue;
    background-color: #EFEFEF;
    -moz-box-shadow: 10px 10px 5px rgba(211, 211, 211,0.5);
    -webkit-box-shadow: 10px 10px 5px rgba(211, 211, 211, .5);
    box-shadow: 10px 10px 5px rgba(211, 211, 211, .5);
}

.operator {
    font-family: Verdana, serif;
}

.number {
    font-family: Arial, serif;
    font-size: 24px;
    font-weight: bold;
}

.formula {
    font-style: italic;
}

.key {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid lightgray;
    padding: 4px;
    margin: 1px;
    text-align: center;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.key:hover {
    background-color: #E1E1E1;
    cursor: context-menu;
}

#screen {
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
    font-family: Verdana, serif;
    text-align: right;
    padding-right: 8px;
    cursor: context-menu;
}

#screen #history {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

#screen #result {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
}